*.apk
*.ap_
*.aab
*.iml

*.dex

bin/
gen/

.gradle/
build/

*.log

.navigation/

captures/

local.properties
/local.properties
.idea/
.DS_Store
/captures
.externalNativeBuild
.cxx

/release_keystore.properties
/release-sign.jks